@import "nib"

// -. .-. MIXINS & VARIABLES .-. .-.
@import "mixins.styl"
@import "variables.styl"


// -. .-. VIEWPORT .-. .-.

// http://dev.w3.org/csswg/css-device-adapt/#the-atviewport-rule
// http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport
@viewport
    width: $site-width + 30px


// -. .-. SKIP LINKS .-. .-.
#skiplinks
    vhidden()

// -. .-. CORE .-. .-.

body
    margin: 0 auto
    font: 1.1em/1.5 $font-family
    color: #666
    background: darken(white, 1)
    min-width: $site-width + 30px

header
    height: 320px
    padding-top: 40px
    position: relative
    background: url("../images/$.jpg") white center 120px no-repeat // only ie < 10
    background: linear-gradient(top, rgba(white, .1), rgba(black, .10)), url("../images/$.jpg") fixed white center 120px no-repeat
    box-shadow: inset 0 -2px 5px rgba(black, .04)
    .logo
        replace-text(url("../images/logo.png"))
        width: 280px
        height: 70px
        margin: 0 auto
    .slogan
        text-align: center
        font-size: 1.25em
        line-height: 90px
        width: 580px
        margin-left: -290px
        absolute: bottom -45px left 50%
        border-radius: 7px
        background: white
        box-shadow: 1px 1px 2px rgba(black, .3)

section, .wrapper
    width: $site-width
    margin: 0 auto
    overflow: hidden
    h1
        vhidden()

.title
    font-size: 2.5em
    font-weight: 600
    color: $orange
    letter-spacing: -.075em
    text-transform: uppercase
    margin-bottom: 10px
    &.provider
        color: $blue

input[type=text], button
    background: white
    border: 1px solid #CCC
    box-shadow: inset 0 1px 1px rgba(black, .1)
    font: 1em/1.5 $font-family
    padding: 2px 8px
    margin: 0
    color: #999
    border-radius: 4px
    box-sizing: border-box
    &:focus
        outline: none

button
    color: #666
    text-shadow: 2px 2px 1px white
    box-shadow: inset 0 1px 0 rgba(white, .3), 0 1px 2px rgba(black, .05)
    border-color: rgba(black, 0.15) rgba(black, 0.15) rgba(black, 0.25)
    background: linear-gradient(top, darken(white, 2), darken(white, 8))
    cursor: pointer
    height: 44px
    padding-left: 16px
    padding-right: 16px
    &:hover
        transition: .1s all ease-out
        border-color: #AAA
        color: #333


input[type=text]
    height: 34px
    &:focus
        transition: .1s all ease-out
        border-color:  #AAA
        box-shadow: inset 0 1px 4px rgba(black, .2)

.signin
    padding-top: 100px
    padding-bottom: 90px

    form
        width: 400px
        overflow: hidden
        max-height: 140px
        margin: 0 auto
        position: relative
        ol li
            margin-bottom: 14px
            list-style: none
    legend
        text-align: center
        font-size: 1.2em
        width: 100% // ff
        color: #999
        line-height: 1.2
        margin-bottom: 30px
    .selector
        padding: 5px 0
        legend
            text-align: left
            margin-bottom: 5px
        li
            margin-bottom: 0
    input[type=text]
        width: 400px

    #message
        background: lighten(green, 60)
        padding: 10px
        margin-bottom: 20px
        text-align: center


    // FIRST
    form.first
        .second-section
            vhidden()
        label
            vhidden()
        input, button
            height: 50px
        input
            font-size: 1.3em
            padding-left: 10px
            &.invalid
                background: lighten(red, 48)
        li
            margin-bottom: 0
        button
            absolute: right bottom

    // SECOND
    form.second
        transition: .4s all ease-out
        max-height: 1000px
        .first-section 
            vhidden()
        label
            display: block
        .phone input
            width: 200px

        button
            float: right
            margin-top: 10px
            line-height: 38px

    // FINAL
    form.final
        .first-section, .second-section, button
            vhidden()


.about
    padding-top: 30px
    .container
        width: 50%
        box-sizing: border-box
        float: left
        padding-right: 5%
        border-radius: 8px
        + .container
            padding-left: 5%
            padding-right: 0

.how-work
    padding-top: 40px
    padding-bottom: 80px


footer
    line-height: 100px
    text-align: center
    box-shadow: inset 0 2px 5px rgba(black, .04)
    font-size: .9em
    background: linear-gradient(top, darken(white, 10), darken(white, 15))
    .grifo
        replace-text(url("../images/crown.png"))
        float: right
        width: 28px
        height: 20px
        margin-top: 40px
